project:
  type: website
  pre-render: _scripts/generate_qmd.R
exclude:
  - template.qmd
website:
  title: "apsimng-crops"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: source

