project:
  type: website
  pre-render: _scripts/generate_qmd.R
exclude:
  - template.qmd
website:
  title: "APSIM NG Crops"
  site-url: https://apsimng-crops.bangyou.me
  repo-url: "https://github.com/byzheng/apsimng-crops"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: source

